$custom-select-option-color: lightcoral !default;

.query-builder {
  .MuiIconButton-sizeSmall {
    padding: 3px; // smaller button
  }
  .MuiSlider-markLabel {
    margin-top: -12px;
  }
}

/* should be outside of .query-builder */
.customSelectOption {
  color: $custom-select-option-color;
}

.query-builder {
  .group--conjunctions > .MuiFormControl-root {
    border-radius: $conjunctions-radius;
    overflow: hidden;
  }
}
