@import '@react-awesome-query-builder/ui/css/styles.scss';

#{$seps} {
  vertical-align: bottom;
  align-self: flex-end;
  margin-bottom: 8px;
}

.operator--options {
  display: flex;
}

.widget--valuesrc {
  vertical-align: top;
}

.MuiIconButton-sizeSmall {
  padding: 3px; // smaller button
}
