{
    "presets": [
        "react",
        "es2015",
	    "stage-0"
    ],
    "plugins": [
        ["transform-decorators-legacy"],
        ["import", {
            "libraryName": "antd",
            "style": false
        }],
        ["transform-es2015-modules-commonjs", {
            "allowTopLevelThis": true,
            "loose": true
        }]
    ]
}
