ts_out/
node_modules/
dist/
build/
coverage/
junit/
/package/
*.log
.next/

package-lock.json
yarn.lock
.yarn/

.idea
.eslintcache
.DS_Store

packages/*/cjs/
packages/*/esm/
packages/*/css/
packages/*/types/
