/packages/examples/build/*bundle*
/packages/core/build/
/packages/tests/coverage/
/packages/tests/junit/
/packages/sandbox/dist/
/packages/sandbox_simple/dist/
ts_out/
node_modules/
package-lock.json
npm-debug.log
.idea
.eslintcache
.gitignore
.git
.github
.vscode
.circleci
.travis.yml
*.log
