/examples/build/*bundle*
/build/
/coverage/
/junit/
/sandbox/build/
/sandbox/dist/
/sandbox_simple/build/
ts_out/
node_modules/
package-lock.json
npm-debug.log
.idea
.eslintcache
.gitignore
.git
.github
.vscode
.circleci
.travis.yml
*.log
