language: node_js
node_js:
  - 12
sudo: required
dist: trusty
before_install:
  # Fixes an issue where the max file watch count is exceeded, triggering ENOSPC
  # https://stackoverflow.com/questions/22475849/node-js-error-enospc#32600959
  - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
install:
  - npm run install-all
cache:
  directories:
    - node_modules
    - examples/node_modules
    - sandbox/node_modules
    - sandbox_simple/node_modules
script:
  - npm run lint
  - npm run test
  - npm run build-all
  - npm run check-hot
branches:
  only: 
    - master
