language: node_js
node_js:
  - 14
sudo: required
dist: trusty
before_install:
  # Fixes an issue where the max file watch count is exceeded, triggering ENOSPC
  # https://stackoverflow.com/questions/22475849/node-js-error-enospc#32600959
  - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
install:
  - npm install --global yarn
  - yarn
cache:
  npm: false
script:
  - yarn smoke
branches:
  only: 
    - master
