body.qb-dragging {
  .ant-tooltip {
    display: none;
  }
}

/* slider */
.ant-tooltip-inner {
  min-height: 18px;
}
.ant-slider {
  margin-bottom: 4px !important;
  margin-top: 4px;
}
.ant-slider.ant-slider-with-marks {
  margin-bottom: 10px !important;
  margin-left: 10px;
  margin-top: 4px;
}
.ant-slider-track {
  visibility: visible !important;
}

/* tree */
.ant-select-tree-dropdown > div[role="listbox"] {
  outline: none;
}
ul.ant-select-selection__rendered {
  margin-right: 11px;
}

/* for antd v4 default is 32 - too big */
.ant-select-item {
  min-height: 22px;
}


.widget--valuesrc, .rule--fieldsrc {
  .anticon {
    height: 100%;
    svg {
      height: 100%;
    }
  }
  span .anticon-ellipsis {
    transform: rotate(90deg);
  }
}

.customSelectOption {
  color: lightcoral;
}


.widget--valuesrc {
  margin-left: 3px;
  margin-right: 3px;
}
.rule--value .rule--widget .widget--valuesrc {
  margin-top: 2px;
}
.rule--fieldsrc {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 4px;
}
