@use '@react-awesome-query-builder/ui/css/styles.scss' with (
  $inactive_conjs: (".group--conjunctions .ant-btn:not(.ant-btn-primary)"),
  $active_conjs: (".group--conjunctions .ant-btn.ant-btn-primary"),
  $seps-offset-bottom: 3px,
);

body.qb-dragging {
  .ant-tooltip {
    display: none;
  }
}

/* slider */
.ant-tooltip-inner {
  min-height: 18px;
}
.ant-slider {
  margin-bottom: 4px;
  margin-top: 4px;
}
.ant-slider-with-marks {
  margin-bottom: 10px;
  margin-top: 4px;
}
.ant-slider-track {
  visibility: visible !important;
}

/* tree */
.ant-select-tree-dropdown > div[role="listbox"] {
  outline: none;
}
ul.ant-select-selection__rendered {
  margin-right: 11px;
}

/* for antd v4 default is 32 - too big */
.ant-select-item {
  min-height: 22px;
}


.widget--valuesrc {
  .anticon {
    height: 100%;
    svg {
      height: 100%;
    }
  }
}
.widget--valuesrc span .anticon-ellipsis {
  transform: rotate(90deg);
}
