version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.3
jobs:
  test:
    docker:
      - image: cimg/node:14.20-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Install yarn
          command: npm install --global yarn
      - run:
          name: Check install
          command: |
            google-chrome --version
            chromedriver --version
            node --version
            npm --version
            yarn --version
      - checkout
      # - restore_cache:
      #     keys:
      #       - node-deps-v1-{{ arch }}-{{checksum "package.json"}}-{{checksum "examples/package.json"}}-{{checksum "sandbox/package.json"}}-{{checksum "sandbox_simple/package.json"}}
      #       - node-deps-v1-{{ arch }}-{{checksum "package.json"}}
      - run:
          name: Install
          command: yarn
      # - save_cache:
      #     key: node-deps-v1-{{ arch }}-{{checksum "package.json"}}-{{checksum "examples/package.json"}}-{{checksum "sandbox/package.json"}}-{{checksum "sandbox_simple/package.json"}}
      #     paths:
      #       - node_modules
      #       - examples/node_modules
      #       - sandbox/node_modules
      #       - sandbox_simple/node_modules
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Test
          command: yarn test
      - store_test_results:
          path: ./packages/tests/junit
      - store_artifacts:
          path: ./packages/tests/junit
          destination: junit
      - store_artifacts:
          path: ./packages/tests/coverage/lcov
          destination: lcov
      - store_artifacts:
          path: ./packages/tests/coverage/html
          destination: coverage
      - run:
          name: Build
          command: yarn build-all
      - store_artifacts:
          path: ./packages/examples/build
          destination: examples
      - run:
          name: Hot
          command: yarn check-hot

workflows:
  smoke:
    jobs:
      - test
