version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.3
jobs:
  test:
    docker:
      - image: cimg/node:14.20-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Install pnpm
          command: npm install --global pnpm
      - run:
          name: Check install
          command: |
            google-chrome --version
            chromedriver --version
            node --version
            npm --version
            pnpm --version
      - checkout
      # - restore_cache:
      #     name: Restore pnpm Package Cache
      #     keys:
      #       - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install
          command: pnpm i
      # - save_cache:
      #     name: Save pnpm Package Cache
      #     key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      #     paths:
      #       - node_modules
      - run:
          name: Lint
          command: pnpm lint
      - run:
          name: Test
          command: pnpm test
      - store_test_results:
          path: ./packages/tests/junit
      - store_artifacts:
          path: ./packages/tests/junit
          destination: junit
      - store_artifacts:
          path: ./packages/tests/coverage/lcov
          destination: lcov
      - store_artifacts:
          path: ./packages/tests/coverage/html
          destination: coverage
      - run:
          name: Build
          command: pnpm build
      - store_artifacts:
          path: ./packages/examples/build
          destination: examples
      - run:
          name: Hot
          command: pnpm check-hot

workflows:
  smoke:
    jobs:
      - test
