version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.3
jobs:
  test:
    docker:
      - image: cimg/node:12.22-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ arch }}-{{checksum "package.json"}}-{{checksum "examples/package.json"}}-{{checksum "sandbox/package.json"}}-{{checksum "sandbox_simple/package.json"}}
            - node-deps-v1-{{ arch }}-{{checksum "package.json"}}
      - run:
          name: Install
          command: npm run install-all
      - save_cache:
          key: node-deps-v1-{{ arch }}-{{checksum "package.json"}}-{{checksum "examples/package.json"}}-{{checksum "sandbox/package.json"}}-{{checksum "sandbox_simple/package.json"}}
          paths:
            - node_modules
            - examples/node_modules
            - sandbox/node_modules
            - sandbox_simple/node_modules
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Test
          command: npm run test
      - store_test_results:
          path: ./junit
      - store_artifacts:
          path: ./junit
          destination: junit
      - store_artifacts:
          path: ./coverage/lcov
          destination: lcov
      - store_artifacts:
          path: ./coverage/html
          destination: coverage
      - run:
          name: Build
          command: npm run build-all
      - store_artifacts:
          path: ./examples/build
          destination: examples
      - run:
          name: Hot
          command: npm run check-hot

workflows:
  smoke:
    jobs:
      - test
