.query-builder {
  // fixes switch vertical center
  .widget--widget > .ms-Toggle {
    margin-top: 5px;
    margin-bottom: 0;
  }

  // fixes switch vertical center
  .rule--body--wrapper .rule--value {
    align-items: center;
  }

  .group--actions > .ms-Button {
    height: 100%;
  }
  .rule--header > .ms-Button {
    height: 100%;
  }

  .group--conjunctions > .ms-Button {
    min-width: auto;
    padding: 0px 4px;
  }
  .rule_group .group--actions > .ms-Button {
    padding: 8px 0;
  }

  .group--actions {
    align-self: stretch;
  }
  .rule_group .group--actions {
    align-self: center;
  }
  .rule_group_ext .group--actions {
    align-self: stretch;
  }

  .widget--valuesrc span .ms-Icon {
    transform: rotate(90deg);
  }

  .group--header.no--children > .group--actions {
    min-height: 32px;
  }
}
