@mixin force_nomargin {
  margin: 0px !important;
}

%force_nomargin {
  @include force_nomargin;
}

.group, .rule {
  padding: 5px;
}

.group {
  margin-top: 10px !important;
  padding-left: 0px;
}

.group--children {
  @extend %force_nomargin;
  margin-left: 10px !important;

  & > .rule, & > .group {
    &::before, &::after {
      left: -7px;
    }
    &::after {
      width: 7px;
    }
  }
}

.group--conjunctions {
  @extend %force_nomargin;
  margin-left: 4px !important;
}


.rule--field, .rule--operator, .widget--widget {
  display: inline-block;
  margin-left: 5px;
}