
$item-offset-left: 10px;
$item-offset: 5px;
$rulegroup-offset-left: 10px;
$rulegroup-offset: 5px;
$rule-padding: 5px;
$rule-parts-distance: 5px;
$drag-offset-right: 5px;
$rule-group-actions-offset-left: 5px;

@import './styles.scss';


.group--conjunctions {
  margin-left: -1px !important;
  margin-top: -1px !important;
}

