// borders
$default-rule-border: 1px !default;
$default-group-border: 1px !default;
$default-switch-border: 3px !default;
$default-case-border: 2px !default;
$default-rulegroup-border: 1px !default;
$default-rulegroupext-border: 1px !default;
$default-item-radius: 5px !default;
// shadows
$default-rule-shadow-hover: none !default;
$default-group-shadow-hover: none !default;
// treeline
$default-treeline-radius: 4px !default;
$default-treeline-thick: 2px !default;
$default-treeline-switch-thick: 3px !default;
$default-treeline-rulegroup-thick: 1px !default;
$default-treeline-rulegroupext-thick: 1px !default;
// colors
$default-treeline-color: #ccc !default;
$default-treeline-disabled-color: rgba(128, 128, 128, 0.1) !default;
$default-switch-background: rgba(250, 240, 210, 0.5) !default;
$default-switch-border-color: #DCC896 !default;
$default-case-background: rgba(250, 240, 210, 0.5) !default;
$default-case-border-color: #DCC896 !default;
$default-group-background: rgba(250, 240, 210, 0.5) !default;
$default-group-border-color: #DCC896 !default;
$default-group-with-error-border-color: #e0a1a1 !default;
$default-rule-background: white !default;
$default-rule-border-color: transparent !default;
$default-rule-with-error-border-color: #e0a1a1 !default;
$default-rule-error-color: red !default;
$default-rulegroup-background: rgba(255, 252, 242, 0.5) !default;
$default-rulegroupext-background: rgba(255, 252, 242, 0.5) !default;
$default-rulegroup-border-color: #f5e4b5 !default;
$default-rulegroupext-border-color: #f5e4b5 !default;
$default-placeholder-border-color: gray !default;
$default-locked-border-color: red !default;
$default-custom-select-option-color: lightcoral !default;
// colors for complex nesting
$default-group-in-rulegroupext-border-color: transparent !default;
// offsets
$default-treeline-offset-from-conjs: 20px !default;
$default-treeline-offset-from-switch: 20px !default;
$default-item-offset: 10px !default;
$default-item-offset-left: 24px !default;
$default-rulegroup-offset: 5px !default;
$default-rulegroup-offset-left: 18px !default;
$default-rule-padding: 10px !default;
$default-rule-parts-distance: 10px !default;
$default-seps-offset-bottom: 3px !default;
$default-drag-offset-right: 8px !default;
$default-group-actions-offset-left: 10px !default;
$default-group-drag-offset-left: 10px !default;
$default-rule-group-actions-offset-left: 10px !default;
// fonts
$default-main-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;;
$default-main-font-size: 14px !default;
$default-main-text-color: initial !default;
// main
$default-main-margin: 0px;