name: Smoke

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install
        run: npm run install-all
      - name: Setup
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Artifact - coverage
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage
      - name: Build
        run: npm run build-all
      - name: Artifact - examples build
        uses: actions/upload-artifact@v2
        with:
          name: examples-build
          path: examples/build
      - name: Hot
        run: npm run check-hot
